body {
  background-color: lightgray;
  font-family: sans-serif;
}

.dark-mode {
  background-color: #222;
}


/*some custom variables for color and font size*/
:root {
	--footer-text-color: #554d4d;
	--footer-text-size: 13px;
}

/*Main container*/
#todo-container {
  max-width: 600px;
  margin: 100px auto;
  background-color: white;
  padding: 20px 20px 0 20px;
  border-radius: 8px;
}

/* Input section */
#input-section {
  display: flex;
  align-items: center;
  background-color: lightgray;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

#input-section input[type="text"] {
  height: 40px;
  width: 100%;
  font-family: montserrat;
  background-color: lightgray;
  border: none;
  font-size: 25px;
  outline: none;
  padding-left: 10px;
  flex-grow: 1;
}

/*checkbox size*/
input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

label{
  font-family: 'Poppins', sans-serif;
}

input[type="checkbox"]:checked + label{
  color: gray;
}

/*icons in the input field*/
.icons {
  font-size: 25px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 60px;
  cursor: pointer;
  position: relative;
  top: 10px;
}

/*all the horizontal line*/
hr {
  width: 100%;
  opacity: 0.4;
  margin: 20px 0;
}

/*footer of the container*/
#footer>div {
	display: flex;
	justify-content: space-between;
  margin: -20px 0;
}
#footer>div p {
	color: var(--footer-text-color);
	font-size: var(--footer-text-size);
}

/*middle part of the container*/
#middle>div {
	display: flex;
	justify-content: space-between;
  margin: -20px 0;
}

#middle>div p {
	color: var(--footer-text-color);
	font-size: var(--footer-text-size);
}
#middle div p>i {
	font-size: var(--footer-text-size);
}

/*todo items list*/
#todo-list li{
  text-decoration: none;
  list-style: none;
  margin-left: -40px;
  font-size: 30px;
  font-family: montserrat;
}

/*delete icon*/
.trash-icon {
  font-size: 22px;
  visibility: hidden;
  margin-right: 0px;
}


.todo-innner-container{
  display: flex;
  justify-content: space-between;
}

